name: Build Cupcake

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths:
      - backend/**
      - .github/workflows/backend.yaml
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '22'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Test
        run: ./gradlew clean check
        working-directory: backend

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/javabin/cupcake
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha,format=short
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create staging
        if: github.ref == 'refs/heads/main'
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/javabin/cupcake:staging \
            ghcr.io/javabin/cupcake:latest

      - name: Generate summary
        run: |
          echo "Tag: ${{ github.sha }}" >> $GITHUB_STEP_SUMMARY
        working-directory: backend

      - name: Upload reports if failed
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: cupcake-reports
          path: |
            backend/**/build/reports/
            backend/**/build/test-results/

      - name: Upload coverage if passed
        if: success()
        uses: actions/upload-artifact@v6
        with:
          name: cupcake-coverage
          path: |
            backend/**/build/reports/jacoco/
